<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, this is <%= @curr.name %>. Nice to meet you, <%= @user.name %>!</h1>
    <p>Thanks for being friends on Facebook Lite 2.0. It's going to be a great time!</p>
  </body>
</html>