<nav class="nav-banner">
  <a class="nav-btn" href="/">Home</a>
  <a class="nav-btn" href="/users">Users</a>
  <a class="nav-btn" href="/groups">Groups</a>
  <!-- Add link to user's show page and log out button if logged in -->
  <%if logged_in?%>
    <a href = "/users/<%= current_user.id %>"><%= current_user.name%></a>
    <a href = "/friendships" data-method="get">Friends</a>
    <a href = "/logout" data-method="delete">Log out</a>
  <% else %>
    <a href = "/login">Log in</a>
    <a href = "/users/new">Sign up</a>
  <% end %>
  <span class="nav-sessions">
  </span>
</nav>
